# =======================
# CORE
# =======================
pandas==2.1.4
numpy==1.26.2
pyarrow==14.0.1

# =======================
# AWS
# =======================
boto3==1.41.0
awscli==1.43.0

# =======================
# DATA QUALITY
# =======================
great-expectations==0.18.8

# =======================
# SPARK (local development)
# =======================
pyspark==3.5.0

# =======================
# UTILITIES
# =======================
python-dotenv==1.0.0
pyyaml==6.0.1

# =======================
# TESTING
# =======================
pytest==8.4.1
pytest-cov==4.1.0

# =======================
# CODE QUALITY
# =======================
black==23.12.1
#pylint==4.0.0
flake8==7.0.0

# =======================
# DOCS
# =======================
diagrams==0.23.4